// Colors
// A themed bulma impl
@import "https://jenil.github.io/bulmaswatch/darkly/bulmaswatch.min.css";
$translucent-white: rgba(255, 255, 255, .8);
$translucent-black: rgba(0, 0, 0, .8);
$bulma-tr-alt: #282f2f;

@mixin flex-center() {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-center {
    @include flex-center();
}

.manga-cover-image {
    @include flex-center();
    max-width: 760px;
}

.not-found {
    position: absolute;
    margin: auto;
    font-size: 8vw;
    text-align: center;
}

.image-link:hover {
    opacity: .8;
}

.back-pager {
    cursor: url('static/arrow-thick-to-left.svg'), auto;
    position: absolute;
    width: 45%;
    height: 100%;
    transition: none;
}

.forward-pager {
    cursor: url('static/arrow-thick-to-right.svg'), auto;
    position: absolute;
    left: 45%;
    width: 55%;
    height: 100%;
    transition: none;
}

// otherwise the first row and the thead is the same color, might be bad idk
thead {
    background-color: $bulma-tr-alt !important;
}
