// Colors
// A themed bulma impl
@import "https://jenil.github.io/bulmaswatch/darkly/bulmaswatch.min.css";
$translucent-white: rgba(255, 255, 255, .8);
$translucent-black: rgba(0, 0, 0, .8);
$quality-llrs-purple: #684580;
$bulma-tr-alt: #282f2f;

.fixed-container {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

@mixin flex-center() {
    display: flex;
    justify-content: center;
    align-items: center;
}

.manga-cover-image {
    @include flex-center();
    max-width: 760px;
}


.not-found {
    margin: auto;
    width: 50%;
    font-size: 10vw;
    background: $quality-llrs-purple;
    text-align: center;
}

.image-link:hover {
    opacity: .8;
}

.back-pager {
    cursor: w-resize;
    position: absolute;
    width: 45%;
    height: 100%;
    transition: none;
}

.forward-pager {
    cursor: e-resize;
    position: absolute;
    left: 45%;
    width: 55%;
    height: 100%;
    transition: none;
}

// otherwise the first row and the thead is the same color, might be bad idk
thead {
    background-color: $bulma-tr-alt !important;
}
